<h1>Admin Console</h1>

<div className="col-md-2 nav-side-menu"><i className="fa fa-bars fa-2x toggle-btn"></i>
  <div className="menu-list">
    <ul id="menu-content" className="menu-content">
      <li>
        <a (click)='clickProductAdd()'>
        <i className="fa fa-dashboard fa-lg"></i> Add Product
        </a>
      </li>
      <li>
        <a (click)='clickProductsList()'>
        <i className="fa fa-gift fa-lg"></i> List products
        </a>
      </li>
      <li>
        <a (click)='clickCategoryAdd()'>
        <i className="fa fa-cube fa-lg"></i> Add category
        </a>
      </li>
      <li>
        <a (click)='clickCategoriesList()'>
        <i className="fa fa-cubes fa-lg"></i> List categories
        </a>
      </li>
      <li>
        <a (click)='clickTestimonialsList()'>
        <i className="fa fa-book fa-lg"></i> List testimonials
        </a>
      </li>
      <a routerLink='/'><i className='fa fa-arrow-left'></i>Home</a> 
    </ul>
  </div>
</div>

<div class="content-holder">
  <div *ngIf='productAdd'>
    <add-product></add-product>
  </div>
  <div *ngIf='productsList'>
    <product-table></product-table>
  </div>
  <div *ngIf='categoryAdd'>
    <add-category></add-category>
  </div>
  <div *ngIf='categoriesList'>
    <category-table></category-table>
  </div>
  <div *ngIf='testimonialsList'>
    testimonialsList
  </div>
</div>