<h1>Admin Console</h1>

<div class="col-md-2 nav-side-menu"><i class="fa fa-bars fa-2x toggle-btn"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content">
      <li>
        <a (click)='clickProductAdd()'>
        <i class="fa fa-dashboard fa-lg"></i> Add Product
        </a>
      </li>
      <li>
        <a (click)='clickProductsList()'>
        <i class="fa fa-gift fa-lg"></i> List products
        </a>
      </li>
      <li>
        <a (click)='clickCategoryAdd()'>
        <i class="fa fa-cube fa-lg"></i> Add category
        </a>
      </li>
      <li>
        <a (click)='clickCategoriesList()'>
        <i class="fa fa-cubes fa-lg"></i> List categories
        </a>
      </li>
      <li>
        <a (click)='clickTestimonialsList()'>
        <i class="fa fa-book fa-lg"></i> List testimonials
        </a>
      </li>
      <a routerLink='/'><i class='fa fa-arrow-left'></i>Home</a> 
    </ul>
  </div>
</div>

<div class="content-holder">
  <div *ngIf='productAdd'>
    <add-product></add-product>
  </div>
  <div *ngIf='productsList'>
    <product-table 
      (editProductInfo)='editProductDataRecieved($event)'
      (deleteProductInfo)='deleteProductDataRecieved($event)'></product-table>
  </div>
  <div *ngIf='categoryAdd'>
    <add-category></add-category>
  </div>
  <div *ngIf='categoriesList'>
    <category-table 
      (editCategoryInfo)='editDataRecieved($event)'
      (deleteCategoryInfo)='deleteDataRecieved($event)'></category-table>
  </div>
  <div *ngIf='testimonialsList'>
   <testimonialsTable></testimonialsTable>
  </div>

  <div *ngIf='productEdit'>
    <edit-product [product]='product'></edit-product>
  </div>
   <div *ngIf='productDelete'>
    <delete-product [product]='product'></delete-product>
  </div> 

  <div *ngIf='categoryEdit'>
    <edit-category [category]='category'></edit-category>
  </div>
  <div *ngIf='categoryDelete'>
    <delete-category [category]='category'></delete-category>
  </div>
</div>