
<h1>Add Category</h1>
<form class='col-md-6 col-md-offset-3' #categoryForm='ngForm' (submit)='add()'>
  <div class="form-group">
    <label for="name">Name</label>
    <input 
      type="text" class="form-control"
      id="name"
      name='name'
      #name='ngModel'
      [(ngModel)]='category.name' required />
    <span [hidden]='name.valid || name.pristine'>Name is required!</span>
  </div>

  <button type="submit" class="btn btn-success" [disabled]='!categoryForm.form.valid' >Submit</button>

</form>