<div>
  <span><a routerLink='/'>Home</a></span>
  <span *ngIf='authenticated'>
    <span>{{username}}</span>
    <span><a routerLink='/contacts'>Contact us</a></span>
    <span *ngIf='isAdmin'><a routerLink='/admin'>Admin Console</a></span>
    <span><a routerLink="/testimonials/add">Add Testimonial</a></span>
    <span><a href='javascript:void(0)' (click)='logout()'>Logout</a></span>
  </span>
  <span *ngIf='!authenticated'>
    <a routerLink='/contacts'>Contact us</a>
    <a routerLink='/users/register'>Register</a>
    <a routerLink='/users/login'>Login</a>
  </span>
  <span>
    <a routerLink="/testimonials/all">Testimonials</a>
    <a routerLink='/about'>About us</a>
  </span>
</div>