<div>
  <a routerLink='/'>Home</a>
  <div *ngIf='authenticated'>
    <span>{{username}}</span>
    <a routerLink='/contacts'>Contact us</a>
    <span *ngIf='isAdmin'><a routerLink='/admin'>Admin Console</a></span>
    <a routerLink='/products/add'>Add product</a>
     <a routerLink="/testimonials/add">Add Testimonial</a>
    <a href='javascript:void(0)' (click)='logout()'>Logout</a>
  </div>
  <div *ngIf='!authenticated'>
    <a routerLink='/contacts'>Contact us</a>
    <a routerLink='/users/register'>Register</a>
    <a routerLink='/users/login'>Login</a>
  </div>
  <div>
    <a routerLink="/testimonials/all">Testimonials</a>
    <a routerLink='/about'>About us</a>
  </div>
</div>